p {
	color: red;
}

body{
	font-size: 14px;
	color: purple;
	background-color: #162856;
}

h1{
	color: #061593;
	text-align: center;
	border-style: dashed;
	border-width: 4px;
	margin-left: 75px;
	margin-right: 75px;
}

#mainContent {
	margin-left: 75px;
	margin-right: 75px;
}

.centreMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
img {
	padding-bottom: 50px;
}